{%extends "AxonMedicineWhiteKoatBundle:Default:home.student.html.twig"%}

{%block libcontent %}

{%block javascripts%}
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#searchField').autocomplete(
        {
            source: "./search.php",
            minLength: 2
        });
    });
</script>
{%endblock%}

<div class="tab-content">
    <div class="tab-pane" id="help" style="height:800px">WK Help Coming Soon...</div>
    <div class="tab-pane active" id="home">
		<form action="<?php echo $PHP_SELF;?>" method="post">	
			<label for="searchField">Search:</label>
			<input type="text" id="searchField" name="searchField"/>
			<p><input type="button" name="submitButton" value="Submit"/></p>
			
		</form>
        

    </div>
</div>

{%endblock%}

{%block tablecontent %}


{%endblock%}
