{%extends "AxonMedicineWhiteKoatBundle:Default:home.html.twig"%}

{%block libcontent %}

<form method="POST" action="{{path('alic_route_save')}}" data-validate="parsley">

    <div style="padding-bottom:15px">
        <input style="width:200px" type="text" id="original" name="original" placeholder="Original" data-trigger="change" data-required="true">
    </div>
    <div style="padding-bottom:15px">
        <input style="width:200px" type="text" id="alias" name="alias" placeholder="Alias" data-trigger="change" data-required="true">
    </div>

    <input class="btn btn-primary btn-lg" type="submit" value="Add Item">

</form>


{%endblock%}

{%block tablecontent %}

<table class="table table-striped ">
    <thead>
        <tr>
            <th>Original Name</th>
            <th>Alias Name</th>
            <th>Action</th>
        </tr>
    </thead>     
    <tbody>

            {%for alias in aliases%}
        <tr >
            <td>{{alias.original}}</td>
            <td>{{alias.alias}}</td>
            <td><a href="{{path('alic_route_remove', { 'id': alias.id })}}">remove</a>
        </tr>
             {%endfor%}
    </tbody>
</table>
{%endblock%}
