{%extends "AxonMedicineWhiteKoatBundle:Default:home.html.twig"%}

{%block libcontent %}

<form method="POST" action="{{path('dislc_route_save')}}" data-validate="parsley">
    <fieldset id="diseaselib">
        <legend>Disease Library Item</legend>

        <div style="padding-bottom:15px">
            <input style="width:200px" type="text" id="itemname" name="itemname" placeholder="Item Name" data-trigger="change" data-required="true">
        </div>
        <div style="padding-bottom:15px">
            <input style="width:400px" type="text" id="itemdescription" name="itemdescription" placeholder="Item Description" data-trigger="change" data-required="true">
        </div>

        <input class="btn btn-primary btn-lg" type="submit" value="Add Item">
    </fieldset>
</form>


{%endblock%}

{%block tablecontent %}

<table class="table table-striped ">
    <thead>
        <tr>
            <th>Disease Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>     
    <tbody>

            {%for disease in diseases%}
        <tr >
            <td>{{disease.name}}</td>
            <td>{{disease.description}}</td>
            <td><a href="{{path('dislc_route_remove', { 'id': disease.id })}}">remove</a>
        </tr>
             {%endfor%}
    </tbody>
</table>
{%endblock%}
