{%extends "AxonMedicineWhiteKoatBundle:Default:home.html.twig"%}

{%block libcontent %}

<div id="someimport">
    <div class="row-fluid">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append">
                <form class="form" method ="POST"  enctype="multipart/form-data" action="{{path('import_route_upload')}}">
                    <fieldset id="importdrugdata">
                        <legend>Drug and Related Data Import</legend>
                        <div class="uneditable-input span6">
                            <i class="icon-file fileupload-exists"></i> 
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Select file</span>
                            <span class="fileupload-exists">Change</span>
                            <input type="file" name="img"/>
                        </span>
                        <button class="btn btn-primary fileupload-exists" type="submit">Upload</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% if status is defined and status=='success'%}
   {% if uploadedURL is defined%}
<!--    <img src="{{asset(uploadedURL)}}"> -->
   {% endif %}
{% else %} 
  
{% endif %}

{%endblock%}

{%block tablecontent %}

{%endblock%}