{%extends "AxonMedicineWhiteKoatBundle:Default:base.html.twig"%}
{%block container %}
<div class="container" >
    <form id="form" class="well" method="POST" action="{{path('signup_route')}}" data-validate="parsley">
        <h2>Sign up for an account</h2>
        <label>User Name (email address)</label>
        <input type="text" id="username" name="username" class="input-xlarge" data-trigger="change" data-required="true" data-type="email">
        <label>Repeat User Name (email address)</label>
        <input type="text" id="usernameRe" name="usernameRe" class="input-xlarge" data-trigger="change" data-required="true" data-type="email" data-equalto="#username">
        <label>First Name</label>
        <input type="text" name="firstname" class="input-xlarge" data-trigger="change" data-required="true">
        <label>Password</label>
        <input type="password" name="password" class="input-xlarge" data-trigger="change" data-required="true">
        <div>
            <button class="btn btn-primary" type="submit" >Create Account</button>
        </div>
    </form>
</div>
 {%endblock%}