{%extends "AxonMedicineWhiteKoatBundle:Default:home.html.twig"%}

{%block libcontent %}

<form method="POST" action="{{path('actc_route_save')}}" data-validate="parsley">

    <div style="padding-bottom:15px">
        <input style="width:200px" type="text" id="itemname" name="itemname" placeholder="Item Name" data-trigger="change" data-required="true">
    </div>
    <div style="padding-bottom:15px">
        <input style="width:400px" type="text" id="itemdescription" name="itemdescription" placeholder="Item Description" data-trigger="change" data-required="true">
    </div>

    <input class="btn btn-primary btn-lg" type="submit" value="Add Item">

</form>


{%endblock%}

{%block tablecontent %}

<table class="table table-striped ">
    <thead>
        <tr>
            <th>Action Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>     
    <tbody>

            {%for action in actions%}
        <tr >
            <td>{{action.name}}</td>
            <td>{{action.description}}</td>
            <td><a href="{{path('actc_route_remove', { 'id': action.id })}}">remove</a>
        </tr>
             {%endfor%}
    </tbody>
</table>
{%endblock%}
