<div class="tab-content">
    <div class="tab-pane active" id="drug">
        <div class="modal-body">
            <div class="row-fluid">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr><th>Class</th><th>Class Description</th></tr>
                    </thead>
                    <tbody>
            {%for drugClass in drugClasses%}
                        <tr style="cursor:default" onClick="javascript:updateSelectAndCloseModal('#drugclassnames', '#drugclassnameids', '', '{{drugClass.id}}', '{{drugClass.name}}')">
                            <td>{{drugClass.name}}</a></td>
                            <td>{{drugClass.description}}</td>
                        </tr>
             {%endfor%}

                    </tbody>
                </table>
            </div>    
        </div>
    </div>
</div>