<div class="modal-body">
    <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th>Drug Name</th><th>Drug Description</th></tr>
            </thead>
            <tbody>
            {%for drugNameLib in drugNames%}
                <tr style="cursor:default" onClick="javascript:updateSelectAndCloseModal('#branddrugnames', '#branddrugnameids', '', '{{drugNameLib.id}}', '{{drugNameLib.name}}')">
                    <td>{{drugNameLib.name}}</td>
                    <td>{{drugNameLib.description}}</td>
                </tr>
             {%endfor%}

            </tbody>
        </table>
    </div>    
</div>