{%extends "AxonMedicineWhiteKoatBundle:Default:home.student.html.twig"%}

{%block libcontent %}


<div class="tab-content">
    <div class="tab-pane" id="help" style="height:800px">WK Help Coming Soon...</div>
    <div class="tab-pane active" id="home">

        <form method="POST" action="{{path('sc_route_get')}}" data-validate="parsley">

            <fieldset id="drugrelationships">
                <legend>Show card for: </legend>

                <table>
                    <tr>
                        <td><input style="width:383px" type="text" id="genericdrugdiseasename" name="genericdrugdiseasename" placeholder="(type name or click 'F2' to search)" data-trigger="change" data-required="true">
                            <div id="drugcarddisplay" style="padding-top:30px">
                                <input id="genericdrugdiseasesubmitbutton" name="genericdrugdiseasesubmitbutton" class="btn btn-primary btn-lg" type="submit" value="Display Card"
                                       onclick="showWindow('card?dn=' + document.getElementById('genericdrugdiseasename').value, 'DrugCard_' + document.getElementById('genericdrugdiseasename').value.replace(/ /g, ''), 10, (screen.height / 2) - (600 / 2))">
                            </div>

                        </td>
                    </tr>
                </table>
            </fieldset>

        </form>

        <div style="padding-top:20px" />

        <form method="POST" data-validate="parsley">

            <fieldset id="drugrelationships">
                <legend>Drugs</legend>

                <div style="padding-bottom:15px">
                    <table>
                        <tr>
                            What are the
                        <select class="selectpicker" id="drugsearchoption" name="drugsearchoption">
                            <option name="Indications">Indications</option>
                            <option name="Mechanism">Mechanism</option>
                            <option name="Side Effects">Side Effects</option>
                            <option name="Contraindications">Contraindications</option>
                        </select>
                        for 
                        <td><input style="width:383px" type="text" id="genericdrugname" name="genericdrugname" placeholder="(type drug name)" data-trigger="change" data-required="true"></td>
                        </tr>
                    </table>
                    <div style="padding-top:30px">
                        <input id="drugsearchbutton" name="drugsearchbutton" class="btn btn-primary btn-lg" type="submit" value="Find"
                               onclick="showWindow('search?drsrch=' + document.getElementById('drugsearchoption').value + ':::' + document.getElementById('genericdrugname').value, 'Find', 30, (screen.height / 2) - (600 / 2))">
                    </div

                </div></fieldset>


            <div id="drugsearchoutput" name="drugsearchoutput">
            </div>

        </form>


        <form method="POST" data-validate="parsley">

            <fieldset id="diseaserelationships">
                <legend>Diseases</legend>

                <div style="padding-bottom:15px">
                    <table>
                        <tr>
                            What are the  
                        <select class="selectpicker" id="diseasesearchoption" name="diseasesearchoption" class="selectpicker">
                            <option>Symptoms</option>
                            <option>Treatments</option>
                            <option>Mechanism</option>
                        </select>
                        for 
                        <td><input style="width:383px" type="text" id="genericdiseasename" name="genericdiseasename" placeholder="(type disease name)" data-trigger="change" data-required="true"></td>
                        </tr>
                    </table>
                    <div style="padding-top:30px">
                        <input id="diseasesearchbutton" name="diseasesearchbutton" class="btn btn-primary btn-lg" type="submit" value="Find"
                               onclick="showWindow('search?disrch=' + document.getElementById('diseasesearchoption').value + ':::' + document.getElementById('genericdiseasename').value, 'Find', 10, (screen.height / 2) - (600 / 2))">
                    </div>
                </div></fieldset>

            <div style="padding-top:20px" />

        </form>

    </div>
</div>

{%endblock%}

{%block tablecontent %}


{%endblock%}
